<div class="tools">
    <h2> Film title </h2>
    <div (mouseleave)="films=[];previousSubtitle=''">
      <mat-form-field class="search-params">
        <mat-label>Film title</mat-label>
        <input matInput type="text" [(ngModel)]="title" #filmTitle (input)="searchInFetched(filmTitle.value)" (mouseenter)="searchInFetched(filmTitle.value)" >
        <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field><br/>
      <mat-option *ngFor="let film of films" >
        <a routerLink="/films/{{film.filmID}}">
          {{film.title}}
        </a>
      </mat-option>
      <button *ngIf="title" mat-stroked-button (click)="fetchFromServer()">Find films</button>
</div>

