<app-menu></app-menu>  
<div class="spinner" *ngIf="!loaded">
    <mat-spinner></mat-spinner>
</div>
<mat-drawer-container [class.hidden]="!loaded" [autosize]="false">
    <mat-drawer mode="side" opened>
    <div class="tools">
        <app-film-search (find)="findByTitle($event)"></app-film-search>
        <app-filter (find)="findByGenres($event)"></app-filter>
    </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="button-bar">
            <button mat-flat-button [disabled]="currentOffset===0" (click)="previousPage()">Previous page</button>
            <button mat-flat-button [disabled]="films.length < 9" (click)="nextPage()">Next page</button>
        </div>
        <app-dashboard></app-dashboard>
    </mat-drawer-content>
</mat-drawer-container>
