<div class="container" *ngIf="film">
    <div class="image">
        <img [src]="film.image" *ngIf="film.image">
    </div>
    <div class="description">
        <div class="title">
            <h1>{{ film.title }}</h1>
            <button *ngIf="readMode && auth.currentUser" mat-stroked-button color="basic" routerLink="/film_editor/{{film.filmID}}">Edit</button><br/>
        </div>
        <i class="author">Written by {{ film.addedBy }}</i>
        <div class="content">
            {{ film.description }}
        </div>
    </div>
</div>