<div class="container" *ngIf="film">
    <div class="image">
        <img *ngIf="film.images && film.images.length != 0" [src]="film.images[0]" >
    </div>
    <div class="description">
        <div class="title">
            <h1>{{ film.title }} <i *ngIf="film.director">by {{ film.director }}</i></h1>
            <button *ngIf="film.addedBy && couldEdit" mat-stroked-button color="basic" routerLink="/film_editor/{{film.filmID}}">Edit</button><br/>
        </div>
        <i class="author">Written by {{ film.addedBy }}</i>
        <div class="content">
            {{ film.description }}
        </div>
    </div>
    <h1>Gallery</h1>
    
    <mat-grid-list cols="3" rowHeight="2:1">
       <mat-grid-tile *ngFor="let image of film.images">
            <img style="width:auto;height:auto" [src]="image"/>
       </mat-grid-tile>
    </mat-grid-list>

    <div class="vote-section" *ngIf="readMode">
        <h1> Opinions </h1>
        <mat-progress-bar mode="determinate" [value]="(film.averageMark || 0) * 100"></mat-progress-bar>
        <div class="vote-buttons" *ngIf="auth.currentUser">
            <button mat-stroked-button (click)="vote(1)">Like</button>
            <button mat-stroked-button (click)="vote(0)">Dislike</button>
        </div>
    </div>
</div>