<mat-toolbar color="primary" class="menu">
    <span>Film catalog</span>
    <p class="placeholder"></p>
    <!-- <button class="action-btn" mat-stroked-button *ngFor="let action of actions">{{ action.name }}</button> -->
    <a *ngIf="isAuthenticated" class="action=btn" mat-stroked-button routerLink="film_editor"> Add review </a> 
    <button *ngIf="!isAuthenticated" class="action-btn" mat-stroked-button (click)="login()"> Login </button>
    <button *ngIf="isAuthenticated" class="action-btn" mat-stroked-button (click)="logout()"> Logout </button>
</mat-toolbar>